<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
        background-color:bisque;
        }
     h1{
     color:black;
        text-align:center;
        }


        .about{
        text-align:center;
        }
        .img1
        {
        text-align:center;

        }

    </style>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body><br>
 <h1><strong>About Us</strong></h1>
<br><br>

<h2><p class="about">
   <i> Welcome to STORY BOX. We Serve our tasty food with our love. we have been running this kitcen for about a decade of time.We are so happy for support.</i>

</p></h2>
<img class="img1" src="static/images/img2.jpg" width="100%">

</body>
</html>